---
layout: default
---

<article class="post-container post-container--single" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <div class="post-meta">
      <img src="/images/calendar.png" width="20px"/> 
      <time datetime="{{page.date | date: date_to_xmlschema}}" itemprop="datePublished" class="post-meta__date date">{{page.date | date: "%F"}} </time> 
      <p style="display: inline;" >|&nbsp&nbsp&nbsp&nbsp&nbsp阅读：<span  id="busuanzi_value_page_pv"></span>次</span></p> 
      

      
    </div>
  </header>
<script type="text/javascript" color="0,102,51" opacity='0.6' zIndex="-2" count="99" src="//cdn.bootcss.com/canvas-nest.js/1.0.1/canvas-nest.min.js"></script>
  <section class="post">
    {{ content }}

  </section>
</article>

{% include dashang.html %}
{% include comments.html %}
